---
const interests = [
  {
    name: "Programaci칩n",
    emoji: "游눹",
    videoSrc: "/videos/dev.mp4",
    text: "La programaci칩n es mi forma de arte; me encanta transformar ideas en soluciones tangibles con l칤neas de c칩digo bien estructuradas. Encontrar la l칩gica perfecta en cada proyecto es un desaf칤o que me apasiona profundamente.",
    url: "https://www.youtube.com/@DotDager",
  },
  {
    name: "M칰sica",
    emoji: "游꿪",
    text: "Tocar la guitarra es mi manera de desconectarme y encontrar equilibrio. Cada melod칤a que creo refleja un fragmento de mi personalidad, desde acordes tranquilos hasta riffs llenos de energ칤a.",
    videoSrc: "/videos/music.mp4",
    url: "https://www.youtube.com/c/DagerMusic",
  },
  {
    name: "Gatos",
    emoji: "游떀",
    text: "Mis gatos son m치s que mascotas; son mis compa침eros de inspiraci칩n. Sus travesuras y silenciosa compa침칤a me recuerdan que incluso en los d칤as m치s complicados, siempre hay lugar para una sonrisa.",
    videoSrc: "/videos/cat.mp4",
    url: "https://www.instagram.com/dager.32/",
  },
  {
    name: "Filosof칤a",
    emoji: "游",
    text: "La filosof칤a me ayuda a reflexionar sobre las grandes preguntas de la vida. Explorar conceptos como la 칠tica, la existencia y el conocimiento me inspira a ser m치s consciente en mi d칤a a d칤a.",
    videoSrc: "/videos/philosopy.mp4",
    url: "https://www.youtube.com/@ElAntroDeDager",
  },
];
---

<section
  id="interests"
  class="max-w-[95%] text-center md:text-left md:max-w-[1050px] mx-auto"
>
  <h2 class="text-black text-4xl md:text-5xl font-black py-10">Intereses.</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 my-4">
    {
      interests.map((interest) => (
        <article class="relative aspect-[3/2] w-full md:w-[440px] overflow-hidden">
          <video
            autoplay
            loop
            muted
            playsinline
            class="w-full h-full object-cover blur-[1px]"
          >
            <source src={interest.videoSrc} type="video/mp4" />
            Tu navegador no soporta la reproducci칩n de video.
          </video>
          <div class="absolute inset-0 bg-black  bg-opacity-40 px-3 py-6 flex flex-col justify-between items-center">
            <p class="text-white text-sm px-2 py-1">{interest.text}</p>
            <footer class="w-full flex justify-between items-center">
              <a
                href={interest.url}
                target="_blank"
                class="bg-purple w-10 rounded-full p-3"
              >
                <img src="/icons/open.png" alt="open" />
              </a>
              <p class="text-white text-2xl font-bold">
                {interest.emoji}
                {interest.name}
              </p>
            </footer>
          </div>
        </article>
      ))
    }
  </div>
</section>

<!-- 
 <article class="relative aspect-[3/2] w-[440px] overflow-hidden">
      <video autoplay loop muted playsinline class="w-full h-full object-cover">
        <source src="/videos/cat.mp4" type="video/mp4" />
        Tu navegador no soporta la reproducci칩n de video.
      </video>
      <div
        class="absolute inset-0 bg-black bg-opacity-25 p-5 flex flex-col justify-between items-center"
      >
        <p class="text-white text-sm px-2 py-1">
          Mis gatos son m치s que mascotas; son mis compa침eros de inspiraci칩n. Sus
          travesuras y silenciosa compa침칤a me recuerdan que incluso en los d칤as
          m치s complicados, siempre hay lugar para una sonrisa.
        </p>
        <footer class="w-full flex justify-between items-center">
          <div class="bg-purple w-8 rounded-full p-1">
            <img src="/icons/open.png" alt="open" />
          </div>
          <p class="text-white text-3xl font-bold">游떀Gatos</p>
        </footer>
      </div>
    </article>
-->
